*{
    text-decoration: none;
}
:root{
    --primary-color:#060b1a; /*background color*/
    --secondary-color:white; /* color*/
    --primary-shadow: rgb(115, 115, 222);
    --font-color: rgba(115, 115, 222, 0.563);
    --card:#0c132b;
    --text: #e6e9ff;
    --muted:#8a90c2;
}
.light-theme{
    --primary-color:white;
    --secondary-color:#060b1a;
    --primary-shadow: #060b1a;
    --text: #0c132b;
    /* --secondary-shadow:rgb(115, 115, 222); */
}

html{
    scroll-behavior: smooth;
}
body{
    /* background-color: black; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
nav ul{
    flex: 1;
    text-align: right;
}
.navbar{
    background:transparent  ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    /* background: blur; */
    box-shadow:0 0 15px var(--primary-shadow);
    /* fixed */
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: var(--secondary-color);
    font-size: 15px;
    /* font-weight: bold; */
    margin-right: 25px;
    position: relative;
}
li a::after{
    content:'';
    width: 0;
    height: 3px;
    background-color: var(--primary-shadow);
    position: absolute;
    border-radius: 2px ;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
li a:hover::after{
    width: 100%;
    box-shadow:0 0 15px var(--primary-shadow);
}
#icon{
    width: 35px;
    height: 30px;
    cursor: pointer;
    color: var(--secondary-color);
    text-align: center;
    padding-top: 6px;
    /* border-radius: 10px; */
    /* box-shadow:0 0 15px var(--secondary-shadow); */
}
#icon:hover{
    text-shadow:0 0 25px var(--primary-shadow);
    font-weight: bolder;
    color: var(--primary-shadow);
}
section{
    padding: 80px 10%;
}
h1,h2{
    text-align: center;
}
.head{
    text-align: center;
}
.reveal{
    /* opacity: 0; */
    transform: translateY(40px);
    transition: all .8s ease;
}
.avatar{
    font-size: 30px;
    color: var(--primary-shadow);
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    border-radius:50%;
    margin: 0 auto 20px;
    display: flex;
    align-items:center ;
    justify-content: center;
    border: 2px solid var(--primary-shadow);
    box-shadow: 0 0 15px var(--primary-shadow);
}
#info{
    font-size: 16px;
    font-weight: lighter;
    color: var(--muted);
    /* margin-top: -6px; */
    margin-bottom: -18px;
}
.social-icons{
    margin-top: 30px;
    display: flex;
    gap: 40px;
    /* width:max-content; */
    /* height: max-content; */
    align-items: center;
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: var(--secondary-color);
    border-radius: 20%;
    border: 2px solid var(--primary-shadow);
    /* box-shadow:0 0 10px var(--primary-shadow); */
    align-items: center;
    transition-property:all;
    transition-duration: 0.3s;
    transition: all 0.5s;
}
.social-icons a:hover{
    background-color: var(--primary-shadow);
    color: var(--primary-color);
    width: 40px;
    flex-wrap: wrap;
    /* height: 40px; */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* border-radius: 50%; */
    box-shadow:0 0 15px var(--primary-shadow);
    transform: scale(1.2);
}
button{
    background-color:var(--primary-shadow);
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    
}
.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    box-shadow:0 0 10px var(--primary-shadow);
    transform: scale(1.05);
}
button a{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 15px;
    /* font-weight:normal; */
    font-size: small;
}
.cv{
    border: 1px solid var(--primary-shadow) ;
    background-color: var(--primary-color);
    
}
.cv a{
    color: var(--primary-shadow);
}

/* ----------------------------About--------------------- */

h5{
    margin-top: -5px;
    text-align: center;
    font-weight: lighter;
    color: var(--muted);
}
.hero{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px 80px;
}
.left{
    flex-basis: 35%;
}
.left img{
    width: 100%;
    border-radius: 20px;
    display: block;
}
.right{
    flex-basis: 60%;
}
.right h1{
    font-size: 35px;
    margin-bottom: 15px;
}
.right h4{
    font-size: 20px;
    margin-bottom: 25px;
}
.right p{
    opacity: .8;
    line-height: 1.1;
    color: var(--muted);
}
/* about cards */
.cards{
    display: grid;
    gap:5px;
    flex-wrap: wrap;
}
.card{
    opacity: 0.9;
    padding: 12px 15px;
    background: rgba(255,255,255,0.05);
    border: 1px solid var(--card);
    border-radius: 12px;
    transition: all 0.3s;
}
.card:hover{
    box-shadow:0 0 10px var(--primary-shadow);
    transform: scale(1.02);
}
@media(max-width:768px){
    .hero{
        flex-direction: column;
        padding: 20px 0;
    }
    .left,.right{
        flex-basis: 100%;
    }
    .left img{
        width: 70%;
        margin: 0 auto;
    }
    .right h1{
        font-size: 28px;
    }
}
/* -------------------------------------Skills----------------------------------- */
#skills .cards{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 30px;
}
.card .avatar{
    width: 60px;
    height: 60px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.card .avatar svg{
    align-self: center;
    width: 40px;
    height: 40px;
    color: var(--secondary-color);
}
.card h4{
    margin-top: 0;
    margin-bottom: 10px;
}
.card ul{
    list-style: none;
    padding-left: 20px;
    color: var(--muted);
    padding: 0;
}
.card ul li{
    margin: 12px 0;
    /* opacity: 0.8; */
    display: flex;
    gap: 7px;
    transition: all 0.3s;
}
.card ul li::before{
    content:'✔';
    font-size: 13px;
    padding: 1px;
    opacity: 0.8;
    color: var(--primary-shadow);
}
#skills .cards .card ul li:hover{
    opacity: 1;
    font-weight: bold;
    /* background-color: rgba(255,255,255,0.08); */
    /* background-color: rgb(65, 64, 64); */
    border-radius:10px;
}
@media(max-width:768px){
    #skills .cards{
        /* justify-content: center; */
        flex-wrap: wrap;
    }
}
h4{
    color: var(--secondary-color);
    text-align: center;
}
#skills .cards .card{
    width: 250px;
    height:300px;
    padding: 25px;
    border-radius: 22px;
    box-shadow:
    0 0 30px rgba(0,0,0,.3),
    inset 0 0 10px rgba(255,255,255,.03);
    transition-property: all;
    transition-duration: 0.4s;
}
#skills .cards .card:hover{
    box-shadow:0 0 15px var(--primary-shadow);
    transform: scale(1.05);
}
